html {
  font-size: 20px;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#fijo {
  font-size: 12px;
  border: 5px solid red;
}

#grande {
  font-size: 2rem;
}

#chico {
  font-size: 1rem;
}

#box {
  height: 5rem;
  width: 50%;
  background-color: brown;
}

#mini-box {
  height: 75%;
  width: 50%;
  background-color: blanchedalmond;
}
